<a href="https://colab.research.google.com/github/19k41a0507/assignment-3/blob/master/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  1. Calculate area of triangle
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 5
Enter second side: 4
Enter third side: 3
The area of the triangle is 6.00

In [ ]:
# 2. whether the string is palindrome is not
s=input("Enter any string : ")
a=s[::-1]
s==a
if s==a:
   print(f"The String {s} is palindrome")
else:
   print(f"The String {s} is not palindrome")

Enter any string : eve
The String eve is palindrome

In [ ]:
# 3. leap year or not
y=int(input("Enter year : "))
if  y%400 == 0 or y%100 != 0 and y%4 == 0:
    print(f"{y} is a Leap Year")
else:
    print(" is Not the Leap Year".format(y))

Enter year : 2016
2016 is a Leap Year

In [ ]:
#4.convert spaces into hyphen
s=input("")#enter sentence
s=s.replace(' ','-')
s

python classes are very interesting

'python-classes-are-very-interesting'

In [ ]:
#5. unique sort problem
list="orange","red","green","cyan","white","pink","magenta"
list=sorted(list)
list

['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

In [ ]:
#6. Tax for monthly salary
s=int(input('Enter salary of a person : '))
if s<=250000:
    tax=0# in percentage
    T=s*(tax/100)
elif s>250000 and s<=500000:
    tax=5 # in percentage
    T=s*(tax/100)
elif s>500000 and s<=750000:
    tax=10# in percentage
    T=s*(tax/100)
elif s>750000 and s<=1000000:
    tax=15# in percentage
    T=s*(tax/100)
elif s>1000000 and s<=1250000:
    tax=20# in percentage
    T=s*(tax/100)
elif s>1250000 and s<=1500000:
    tax=25# in percentage
    T=s*(tax/100)
elif s>1500000:
    tax=30# in percentage
    T=s*(tax/100)
print(f'The tax is {T}')

Enter salary of a person : 300000
The tax is 15000.0

In [ ]:
#7.Convert into single integer
a=(input("Enter 1st integer "))
b=(input("Enter 2nd integer "))
c=(input("Enter 3rd integer "))
print(a+b+c)

Enter 1st integer 11
Enter 2nd integer 33
Enter 3rd integer 50
113350

In [ ]:
#8.Units of time
D=int(input("Enter days : "))
H=int(input("Enter hours : "))
M=int(input("Enter minutes : "))
S=int(input("Enter seconds : "))
totalsec=D*24*60*60+H*60*60+M*60+S
print("Total seconds = ",totalsec)

Enter days : 1
Enter hours : 12
Enter minutes : 15
Enter seconds : 17
Total seconds =  130517

In [ ]:
#9.max and min function
list=[input("1 number : "),input("2 number: "),input("3 number: ")]
print("max number is")
print(max(list))
print("min number is")
print(min(list))

1 number : 33
2 number: 35
3 number: 32
max number is
35
min number is
32

In [ ]:
#10. 
year=int(input("Enter year YYYY : "))
month=int(input("Enter month MM : "))
day=int(input("Enter date DD : "))
0<month<13
0<day<32
if day==31 and month==12 :
   print ("YYYY-MM-DD : {}-01-01".format(year+1))
elif (day==31and (month==1 or 3 or 5 or 7 or 8 or 10)) :
   print ("YYYY-MM-DD : {}-{} 01".format(year,month+1))
elif ( day==30 and ( month==4 or 6 or 9 or 11)) :
   print("YYYY-MM-DD : {}-{}-01".format(year,month+1))
elif ( day==28 and month==2 and year%4==0):
   print ("YYYY-MM-DD : {}-{}-29".format(year,month))
elif(day==28 and month==2):
   print ("YYYY-MM-DD : {}-03-01".format(year))
else : 
  print ("YYYY-MM-DD : {}-{}-{}".format(year,month,day+1))

Enter year YYYY : 2020
Enter month MM : 7
Enter date DD : 7
YYYY-MM-DD : 2020-7-8

In [ ]:
#11.product of list
import numpy
list = [45,3,2,89,72,1,10,7]   
result = numpy.prod(list) 
print(result)

121111200

In [ ]:
#12. to get desired output
def p(a,b,c,d,e,f) :
  return a+b,b+c,c+d,d+e,e+f
p(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
#13.num tuple
def p(a,b,c,d,e,f) :
  return a,a*b,a*b*c,a*b*c*d,a*b*c*d*e,a*b*c*d*e*f
p(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#14.
n=input("Enter a number ")
c=str(n)
l=[]
for i in range(len(c)) :
  l.append(int(c[i]))
print (l)

Enter a number 159732
[1, 5, 9, 7, 3, 2]

In [ ]:
#15.longest palindromic string
q=input("Enter a palindrome ")
list1=[]
list2=[]
index=0
for i in range(0,len(q)-1):
   for j in range(i+1,len(q)+1):
       if j-i>1:
          p=q[i:j]
          if (p==p[::-1]):
             list1.append(q[i:j])
             list2.append(len(q[i:j]))
maxi=max(list2)
for i in list2:
    if i==maxi:
       print(list1[index])
    else:
       index=index+1

Enter a palindrome madam
madam

In [ ]:
#16.
def substringcheck(str1,str2):
    str1len=len(str1)
    test=0
    for i in range(0,str1len):
        if str1[i:i+len(str2)]==str2:
            test=1
    return test
l=input('Enter a binary number l: ')
m=input('Enter another binary number m: ')
if substringcheck(l,m):
    print('1')
else:
    print('0')

Enter a binary number l: 10011010
Enter another binary number m: 100
1